<div class="large-12 columns">
  <h2>Welcome!</h2>
  <p>
    Not sure if you have improved you arena or rated matches skills lately?
  </p>
  <blockquote>
    I'm imba! You ain't got no chance noob!
    <cite>
      bash1337you
    </cite>
  </blockquote>
  <p>
    Yeah, well. For me it always is more like:
  </p>
  <blockquote>
    Well I'm winning some games and I'm loosing some. But no clue!
    <cite>
      jethroo
    </cite>
  </blockquote>
  <p>
    That's why I created (besides the joy of implementing something) this little app to keep track of my
    Hearthstone progress.
  </p>
  <p>
    Enjoy!
  </p>
  <hr>
</div>

<div class="large-12 columns">
  <ul class="example-orbit" data-orbit data-options="timer_speed: 3000;">
    <li>
      <img src="/assets/arena.png" alt="slide 1" />
    </li>
    <li>
      <img src="/assets/matches.png" alt="slide 2" />
    </li>
    <li>
      <img src="/assets/stats.png" alt="slide 3" />
    </li>
    <li>
      <img src="/assets/stats2.png" alt="slide 4" />
    </li>
  </ul>
  <hr>
</div>

<div class="large-12 columns">
  <div class="panel">
    Hearthstone content and materials are trademarks and copyrights of Blizzard or its licensors. All rights reserved. This site is not affiliated with Blizzard.
  </span>
</div>
