<h2>Your arenas</h2>

<% if arenas.any? %>
  <table>
    <thead>
      <tr>
        <th width="100">#</th>
        <th width="200">Hero</th>
        <th width="100">Wins</th>
        <th width="100">Loses</th>
      </tr>
    </thead>
    <tbody>
      <% arenas.each do |no, arena| %>
        <tr>
          <td><%= no %></td>
          <td><%= link_to arena.hero, arena_path(arena) %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
