<div class="large-12">
  <h2>My arenas</h2>

  <div class="large-12">
    <div id="my_matches">
      <%= render partial: "arena", collection: arenas.decorate, as: :arena %>
    </div>
  </div>
</div>
