<div class="match_result">
  <div class="row match_counter">
    <div class="round info label">
      {{match.id}}
    </div>
    <div class="arena" ng-show="match.arena_link" >
      {{match.arena_link}}
    </div>
  </div>
  <div class="row">
   <img ng-src="{{match.heroImage}}"/>
    vs.
    <img ng-src="{{match.opponentImage}}"/>
  </div>
  <div class="row">
    {{match.createdAt}}
  </div>
</div>
