<div class="match_result">
  <div class="row match_counter">
    <div class="round info label">
      {{match.id}}
    </div>
    <div class="arena" ng-show="match.arena_link" >
      {{match.arena_link}}
    </div>
  </div>
  <div class="row">
    {{match.hero}} vs. {{match.opponent}}
  </div>
  <div class="row">
    {{match.created_at}}
  </div>
</div>
