<div class="row">
  <div data-alert class="alert-box alert">
    <% match.match.errors.full_messages.each do |message| %>
      <span>
        <%= message %>
      </span>
    <% end %>
    <a href="#" class="close">&times;</a>
  </div>
</div>
