<div ng-controller="MatchesController" matches-scroll-list style="width: 100%; position: relative;">
  <div id="fixed" style="position: absolute; height: 100%; overflow-y: scroll;" when-scrolled="matchesFactory.loadMore()">
    <div class="small-12 medium-6 large-4 columns match_result_box" ng-repeat='match in matches'>
      <%= render partial: "match" %>
    </div>
  </div>
</div>
