<h2>Add a match with one click!</h1>

<table id="new_matches" data-action-url="<%= matches_path %>">
  <thead>
    <tr>
      <th class="opponent"></th>
      <% Arena::HEROS.each do |hero| %>
        <th class="opponent"><%= hero.capitalize %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="opponent">Win</th>
      <% Arena::HEROS.each do |hero| %>
        <td class="match_win"><%= link_to image_tag("heroes/#{hero}_small_circle.png"),"#", value: "#{hero}" %></td>
      <% end %>
    </tr>
    <tr>
      <th class="opponent">Loose</th>
      <% Arena::HEROS.each do |hero| %>
        <td class="match_loose"><%= link_to image_tag("heroes/#{hero}_small_circle.png"),"#", value: "#{hero}" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<h2>Your Matches</h1>

<div id="error"/>

<div>
  <table>
    <thead>
      <tr>
        <th width="100">Result</th>
        <th width="200">Opponent</th>
        <th width="200">Created at</th>
      </tr>
    </thead>
    <tbody id="my_matches">
    </tbody>
  </table>
</div>
