// Place all the styles related to the Arenas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arena_result {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.arena_box{
  display: table;
  border: 1px solid black;
}
