// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation";

.match {
  margin:-1px;
  border:1px solid white;
  text-align: center;
}

.match_result_row {
  display: inline-block;
  margin:-1px;
  border:1px solid white;
  padding: 10px;
}

.match img {
  padding-top: 20px;
}

.win {
  background-color: green;
}

.loose {
  background-color: red;
}

.match_win {
  @extend .match;
  @extend .win;
}

.match_loose {
  @extend .match;
  @extend .loose;
}

.column, .columns{
  min-height: 1px;
}
