// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation";
@import "compass";

.match {
  margin:-1px;
  border:1px solid white;
  text-align: center;
}

.match img {
  padding-top: 20px;
}

.win {
  background-color: #43d84d; // Old browsers
  @include filter-gradient(#43d84d, #1f3b08, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left top,  #43d84d 0%,#1f3b08 100%));
}

.loose {
  background-color: #cc0000; // Old browsers
  @include filter-gradient(#cc0000, #680000, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  #cc0000 0%,#680000 100%));
}

.match_win {
  @extend .match;
  @extend .win;
}

.match_loose {
  @extend .match;
  @extend .loose;
}

.column, .columns{
  min-height: 1px;
}

.delete_button {
  display: inline;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -30px;
}

.match_result_box {
  display: table;
  border:1px solid white;
}

.match_result {
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.match_counter {
  text-align: left;
}
